:root {
  --default-font-family: "Poppins";
  --primary-font-color: #272142;
  --primary-color: #f9f7fe;
}

body {
  margin: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
}

button {
  border: 1px solid #272142;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #1a1c20;
  font-family: var(--default-font-family);
  font-size: 12px;
  padding: 8px;
  position: relative;
  text-decoration: none;
  margin: 10px 0px;
  width: 118px;
}

.hero {
  background-color: var(--primary-color);
  padding: 200px 60px;
}

.hero h2 {
  font-size: 36px;
  color: var(--primary-font-color);
}

.hero p {
  color: var(--primary-font-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  width: 467px;
  background: linear-gradient(to bottom, transparent 50%, #50ef42 50%);
}

.hero a {
  color: var(--primary-font-color);
}

.content {
  font-size: 16px;
  margin: 10px 0px;
}

.img-background {
  background-color: var(--primary-color);
  padding: 100px;
  text-align: center;
  font-size: 96px;
  width: 250px;
}

.github-link {
  margin-left: 18px;
}

.github-link::after {
  content: "";
  background-color: #50ef42;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

@media (max-width: 768px) {
  h1 {
    font-size: 60px;
  }

  .content {
    text-align: center;
  }
}
